<div class="col-xs-10 col-xs-offset-1 about">
<p>
<h3>  <u><strong>YKITTQW</strong></u> was built by someone who found they had an awful lot of time on his/her hands while employed at one of those big-old corporations.<br><br> It is for those who want to escape their comedy-like work situation.<br>Those who seek fruitful working environments.<br>Those who yearn to put their minds to things which matter a little bit more.<br>And especially those who need a quick chuckle over coffee.<br><br> The misfortune of others can always put things into context, so why not do your good action for the day and share your YKITG story with the world? </h3>
</p> 

<div class="col-xs-12 col-sm-4">
	<%= image_tag 	'guy_fawkes.png', :class => 'img-responsive' %>
</div> 

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h3 class="text-center">this dude </h3>
	<br>
	<p>
	<h3> will never amount to much. you can see more of his work <a target="_blank" href="http://cyrusclarke.co/">here</a>
	</h3>	

</div>

<br class ="clear" />
<br>
<br>
<br>
<br>